::selection {
    color: white;
    background-color: brown;
}

::-moz-selection {
    color: white;
    background-color: brown;
}

* {
    margin: 0;
    padding: 0;
}

body {
    //font-family: "IBM Plex Sans", sans-serif;
    font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
    color: #394655;
    background: white;
}

.container {
    margin: 40px 32%;
    blockquote {
        margin: 16px 0;
        padding: 0 1em;
        color: brown;
        border-left: 0.25em solid;
    }
    hr {
        background-color: lightgray;
        height: 1px;
        border: none;
    }
}

a {
    text-decoration: none;
    color: rgb(3, 102, 214);
    &:hover {
        //cursor: pointer;
        text-decoration: underline;
        //    background-color: beige;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        margin: 32px 14%;
    }
}