::selection {
    color: white;
    background-color: brown;
}

::-moz-selection {
    color: white;
    background-color: brown;
}

* {
    margin: 0;
    padding: 0;
}

body {
    //font-family: "IBM Plex Sans", sans-serif;
    font-family: system-ui, sans-serif;
    color: #394655;
    background: white;
}

.container {
    //margin: 40px 30%;
    padding: 1.5rem;
    width: 50%;
    blockquote {
        margin: 16px 0;
        padding: 0 1em;
        color: gray;
        border-left: 0.10em solid;
        font-style: italic;
    }
    hr {
        background-color: lightgray;
        height: 1px;
        border: none;
    }
    .top {
        text-transform: lowercase;
        font-weight: 600;
        a {
            color: maroon;
            margin-right: 20px;
        }
        ul {
            list-style-type: none;
            li {
                display: inline;
                padding: 0 25px 0 0;
            }
        }
        margin-bottom: 25px;
    }
}

.rating {
    color: peru;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: rgb(3, 102, 214);
    &:hover {
        //cursor: pointer;
        text-decoration: underline;
        //    background-color: beige;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        //margin: 32px 14%;
        width: 80%;
    }
}